@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

html, body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

#mazeBoard{
    margin: 20px;
    padding: 20px;
    justify-content: c;
    position: absolute;
    right: 20%;
    left: 20%;
    top: 10%;
} 

.row{
    display: flex;
    flex-direction: row;
}

.wall {
    background-color: rosybrown;
}
.cell, .player#player, .wall {
    width: 30px;
    height: 30px;
}
.start {
    background-color: rgb(174, 63, 63)
}
.finish {
    background-color:rgb(42, 232, 24);
}

.player {
    background-color: black;
    position: absolute;
    border-radius: 20px;
}

h1 {
    font-family: Nunito, sans-serif;
    font-size: 40px;
    position: absolute;
    left: 20%;
    right: 20%;
    top: 10px;
    margin: 0 auto;
    white-space: normal;
}

#winMessage {
    font: Nunito, sans-serif;
    font-size: 60px;
    
}